html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #f6f5f3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333;
}

body{
  height: auto;
  min-height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::selection {
  background: rgb(224, 245, 255);
}

.text{
  width: 100%;
  border: 1px solid rgb(229, 229, 229);
  border-image: initial;
  border-radius: 5px;
  padding: 7px 9px 8px;
  font-size: 13px;
  box-sizing: border-box;
  outline: none;
  transition: 300ms border ease;
  user-select: none; // Чтоб не выделялся placeholder
  margin: 8px 0 17px 0;

  &:hover{
    border-color: #bdbdbd;
  }

  &:focus{
    border-color: rgb(61, 122, 221);
  }
}

.checkbox{
  position: relative;
  width: 20px;
  height: 20px;
  outline: none;
  flex-shrink: 0;

  &:after{
    content: ' ';
    display: block;
    position: absolute;
    background: #fff;
    width: 20px;
    height: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
    transition: 300ms border ease, 300ms background ease;
  }

  &:hover:after{
    border-color: #bdbdbd;
  }

  &:focus:after,
  &:active:after{
    border-color: #3d7add;
  }

  &:active:after{
    background: #e2ebff;
  }

  &:before{
    content: ' ';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    background: transparent;
    z-index: 1;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: 300ms background ease;
  }

  &:checked:before{
    background: #6797e4;
  }

  &:disabled:before{
    cursor: default;
  }
}

.button{
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  padding: 7px 10px;
  outline: none;
  line-height: normal;
  transition: all 0.5s ease;

  &:focus,
  &:focus:hover {
    border-color: #3d7add;
  }

  &:hover {
    border-color: #bdbdbd;
  }

  &:active {
    background: #f5f8ff;
  }
}

.checkbox:disabled:after,
.button:disabled,
.text:disabled{
  background: #f3f3f3 !important;
  border: 1px solid #e5e5e5 !important;
  color: #999 !important;
  resize: none;
  cursor: default;
}

.button_submit{
  background: #3d7add;
  color: #fff;
  border-color: #3d7add;

  &:hover,
  &:focus {
    background: #5089e6;
    border-color: #5089e6;
  }
  &:active {
    background: #215cbb;
    border-color: #215cbb;
  }
}

.content{
  background: #fff;
  width: 1000px;
  margin-top: 140px;
  margin-bottom: 70px;
  padding: 20px 25px;
}

.content__top-decorator{
  margin: -20px -25px 20px;
}

.content__bottom-decorator{
  margin: 20px -25px -20px;
}

.content__top-decorator,
.content__bottom-decorator{
  position: relative;
  height: 1px;

  &:before,
  &:after{
    content: '';
    position: absolute;
    top: -11px;
    left: -11px;
    background: #f6f5f3;
    width: 25px;
    height: 25px;
    border-radius: 35px;
  }

  &:after{
    right: -11px;
    left: auto;
  }
}

.content__title{
  margin: 0;
  text-align: center;
  position: absolute;
  top: 65px;
  right: 0;
  left: 0;
  color: #484848;
  font-size: 32px;
  letter-spacing: 0.02em;
}

.content__addition{
  background: #f8f7f7;
  margin: 15px -25px;
  padding: 5px 25px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.text-align_right{
  text-align: right;
}

.horizontal-line{
  border-bottom: 1px solid #f0f0f0;
  margin: 0 -25px 20px -25px;
}

.title-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title-bar__text{
  font-size: 18px;
  font-weight: normal;
  margin: 0 15px 0 0;
}