.filter{
  display: flex;
}

.filter__field{
  padding: 5px;

  &:first-child{
    padding-left: 0;
  }

  &:last-child{
    padding-right: 0;
  }
}

.filter__field_w{
  &-date{
    width: 265px;
  }

  &-days{
    width: 160px;
  }

  &-is-multiple{
    width: 200px;
  }
}

.filter_label{
  font-size: 13px;
  cursor: pointer;
}

.filter__field_checkbox{
  padding-top: 9px;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;

  .filter_label{
    padding-left: 5px;
  }
}

.filter__field_button{
  padding-top: 29px;
}