.table{
  display: flex;
  flex-direction: column;
}

.content__table{
  margin: 0 -13px;

  .table_row,
  .table__head{
    padding: 0 13px;
  }
}

.table__head{
  display: flex;
  color: #999;
  margin: 0 -12px;
}

.table__body{
  display: flex;
  flex-direction: column;
  margin: 0 -12px;
}

.table__cell{
  padding: 8px 12px;
  box-sizing: border-box;
}

.table__cell_sort{
  cursor: pointer;
  user-select: none;

  &:hover{
    color: #6892d6;
  }
}

.table_row{
  display: flex;
  position: relative;
  
  &:hover{
    background: #f2f4f8;

    .table__button-delete{
      display: flex;
    }
  }
}

.table__cell_w{
  &-name{
    width: 16%;
  }

  &-date{
    width: 16%;
  }

  &-days{
    width: 14%;
  }

  &-mission{
    width: 41%;
  }

  &-is-multiple{
    width: 14%;
  }
}

.table__cell-delete{
  position: absolute;
  right: -27px;
  top: 0;
  bottom: 0;
  padding: 0;
  width: 27px;
  display: flex;
}

.table__button-delete{
  font-size: 24px;
  border-radius: 0 5px 5px 0;
  background: #f5dddd;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #d88c8c;
  display: none;
  user-select: none;
}

.table__pages{
  color: #bdbdbd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #f6f5f3;
  margin: 15px -12px 0;
  padding: 20px 25px 10px;
}

.table__pages-count{
  padding: 0 15px;
}

.table__pages-count-value{
  color: #6d6d6d;
}

.table__pages-buttons{
  display: flex;
}

.table__pages-button{
  margin-right: 10px;

  &:last-child{
    margin-right: 0;
  }
}

.table__empty-body{
  text-align: center;
  font-size: 24px;
  color: #d6d6d6;
  padding: 45px 0;
}

.table__sort-type{
  padding-left: 4px;

  &:before{
    content: '';
    display: inline;
  }
}

.table__sort-type_asc:before{
  content: '↓';
}

.table__sort-type_desc:before{
  content: '↑';
}